<div class="container">
  <div class="form-builder">
    <h1 id="title"> Sinatra Form Builder </h1>


    <form role="form" action="/create" method="post">
      <div class="form-group">
        <label for="path">Path For Request</label>
        <input type="text" class="form-control" id="path" name="path" placeholder="Enter Path (include all /'s)">
      </div>

      <label for='request_type'>Type Of Request</label>
      <select class='form-control' id='form_field_x' name='request'>
        <option>GET</option>
        <option>POST</option>
      </select>

      <div id="placeholder"></div>

      <div class="form-group">
        <label for="submit">Submit Button Text?</label>
        <input type="text" class="form-control" id="submit" name="submit" placeholder="Name Of Submit Button?" size="40">
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" name="bootstrap"> Do You Want Bootstrap? <em>(feature coming soon...)</em>
        </label>
      </div>

      <button id="make-form" type="submit" class="btn btn-primary">Make My Form</button>
      <button class="add_field btn btn-primary">Add Form Field</button>
      <button class="btn btn-success" class="btn btn-default" id="features">New Features On The Way</button>
      <button class="btn btn-success" id="copy-button">Words To Copy</button>

    </form>
    <div id="show-features">
      <h3>Features Coming Soon...</h3>
      <ul>
        <li>Integration With Bootstrap</li>
        <li>Integration With Foundation</li>
        <li>Text Area's</li>
        <li>Customizable Field Properties</li>
      </ul>
    </div>
  </div>
</div>
