<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
  <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.0.0/firepad.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/codemirror.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/mode/javascript/javascript.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.5.0/codemirror.css" />


  <title> Sinatra Form Build </title>
</head>
  <body>

    <section>
      <%= yield %>
    </section>


        <!-- CodeMirror -->

    <!-- Firepad -->
    <script src="https://cdn.firebase.com/libs/firepad/1.0.0/firepad.js"></script>
    <script src="/js/jquery-2.1.1.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
