<div class="html_code">
<h1> Here Ya Go! </h1>
<span id="copy-clipboard"><%= @form.formatted_form %></span>
<a href="/" class="btn btn-primary"> New Form </a>
<!-- <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=sportsman9987%40yahoo%2ecom&lc=US&item_name=Sinatra%20Form&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" class="btn btn-primary"> Help Spencer Join The Dollar Club! Donate $1 </a> -->
</div>
