body {
  background: #ecf0f1;
}



/* HTML Display
 */
.html_code {
  width: 80%;
  margin: 20% auto;
}

.form-builder {
  background: #ccc;
  padding: 5px;
  margin: 10% auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,.7);
  -moz-box-shadow: 0 0 40px rgba(0,0,0,.7);
  box-shadow: 0 0 40px rgba(0,0,0,.7);
}
