body {
background: url('../img/bg3.png');
font-family: 'Montserrat', sans-serif;
}


/* HTML Display
 */
.html_code {
  width: 80%;
  margin: 10% auto;
}

.html_code h1 {
  color: #fff;
}

/* Form Builder
 */
.form-builder {
 background: rgba(236, 240, 241, .6);
  padding: 5px 15px 20px 15px;
  margin: 10% auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,.7);
  -moz-box-shadow: 0 0 40px rgba(0,0,0,.7);
  box-shadow: 0 0 40px rgba(0,0,0,.7);
}

#title {
  text-align: center;
  text-decoration: 1px;
}

.form-group {
  margin: 15px auto;
}

.form-inline {
  text-align: left;
}

#submit {
  width: 30%;
}
